# This workflow destroys the Terraform cloud global infrastructure.
# Steps:
# 1. Initialize Terraform with local backend
# 2. Destroy global resources
name: Destroy Infrastructure Pipeline
description: Destroys Terraform cloud global infrastructure.

on:
  workflow_dispatch: # Manual trigger so you only run destroy when needed
    inputs:
      region:
        description: "Region with global resources to destroy (i.e. us-east-1, eu-west-2, etc.)"
        type: string
        required: true

permissions:
  id-token: write # Required for github oidc authentication with AWS
  contents: read # Allow repository contents to be checked out

jobs:
  destroy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: global-backend # Keep runs scoped to environment code

    steps:
      # checkout the repo
      - name: Checkout repo
        uses: actions/checkout@v4

      # configure aws credentials using github environment secrets
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ github.event.inputs.region }}

      # install terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.2" # Pin to specific version

      # Attach global backend
      - name: Terraform Init (Local backend)
        run: terraform init -backend=false

      # 7a. Destroy global backend resources
      - name: Destroy (Global)
        working-directory: global-backend
        run: terraform destroy -var-file=global.tfvars -var="aws_account_id=${{ vars.AWS_ACCOUNT_ID }}" -auto-approve -lock=false # -lock=false to avoid locking issues on destroy

      # 8. Remove backend config from SSM Parameter store (Global)
      - name: Remove Backend Config from SSM Parameter Store (Global)
        run: |
          aws ssm delete-parameter --name "/tf/global-backend/state-bucket" --region ${{ github.event.inputs.region }} || echo "state bucket param already deleted"
          aws ssm delete-parameter --name "/tf/global-backend/state-table" --region ${{ github.event.inputs.region }} || echo "state table param already deleted"
          aws ssm delete-parameter --name "/tf/global-backend/region" --region ${{ github.event.inputs.region }} || echo "region param already deleted"
          echo "Removed backend parameters from SSM Parameter Store."
